.nav-links .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $header-footer-bg;
  padding: 0;
  margin: 0;
  z-index: 1000;
  margin-top: 10px;
  border: none;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add this line for the shadow effect
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 0.5rem 1rem;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: $text-color;

  // Remove hover effect
  &:hover {
    background-color: transparent !important;
    color: $text-color !important;
  }
}