.nav-links .dropdown:hover .dropdown-menu,
.nav-links .dropdown.active .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $header-footer-bg;
  padding: 0;
  margin: 0;
  z-index: 1000;
  margin-top: 10px;
  border: none;
  width: auto;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 0.5rem 1rem;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: $text-color;

  // Change text colour on hover without background highlighting
  &:hover {
    color: $primary-color !important;
    background-color: transparent !important;
  }
}

// Style the dropdown separators
.dropdown-separator {
  width: 70%;
  height: 1px;
  background-color: $primary-color;
  margin: 5px auto; // Center the separator and add vertical spacing
}

// Hide separators in mobile view
@media (max-width: 768px) {
  .dropdown-separator {
    display: none;
  }
}

// Games item hover effect
.nav-links .dropdown:hover>a,
.nav-links .dropdown.active>a {
  background-color: $primary-color;
  color: #fff;
}