header,
footer {
  background-color: $header-footer-bg;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1,
footer p {
  margin: 0;
}

footer {
  background-color: $header-footer-bg;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}