// Define colour variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #333333;
$header-footer-bg: #ffffff;
$error-color: #e74c3c;
$success-color: $secondary-color;

// Define font variables
$font-family: 'Open Sans', sans-serif;